
@{
    ViewBag.Title = "Index";
}

<h2>Update</h2>
<br><br>
<form method="put" action="api/ParkClient?">
    <label for="licenseNumber">Licenseplate number</label>
    <input type="text" name="licenseNumber">
    <label for="companyParkingCode">Company parking code</label>
    <input type="text" name="companyParkingCode">
    <br><br>
    <input type="submit" value="Update">
</form>

