
@{
    ViewBag.Title = "UnRegistered";
}
<div class="jumbotron">
    <h2>UnRegistered</h2>
    <hr class="my-4">
    <p class="lead">The licenseplate you entered is not registered in our database and your information could therefor not be updated. Please register your licenseplate.</p>
    <p class="text-right"><a class="btn btn-primary" @Html.ActionLink(">", "Index", "Update", new { area = "" }, null)</a></p>
</div>
