
@{
    ViewBag.Title = "Index";
}

<h2>Registér</h2>
<form method="post" action="api/ParkClient?">
    <label for="licenseNumber">Licenseplate number</label>
    <input type="text" name="licenseNumber">
    <br>
    <label for="companyParkingCode">Company parking code</label>
    <input type="text" name="companyParkingCode">
    <br><br>
    <input type="submit" value="Submit">
</form>

