@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PARKCORP</h1>
    <p class="lead">Welcome to WebCorp. Create or update your registration with our parking facility.</p>

</div>
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-block btn-info btn-lg" @Html.ActionLink("Register", "Index", "Create", new { area = "" }, null)</a></p>
        <p>If you are an employee at a business that uses our services, you can register your vehicle here. Have your licenseplate number and company parking code ready.</p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-block btn-info btn-lg" @Html.ActionLink("Update", "Index", "Update", new { area = "" }, null)</a></p>
        <p>If you need to update some information on an already existing registration, you can do that here. If the change is a new licenseplate number, you will need to create a new registration.</p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-block btn-info btn-lg" @Html.ActionLink("Delete", "Index", "Delete", new { area = "" }, null)</a></p>
        <p>If you need to delete a registration, you can do that here.</p>
    </div>
</div>