@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PARKCORP</h1>
    <p class="lead">Welcome to WebCorp. Create or update your registration with our parking facility.</p>

</div>
<div class="row">
    <div class="col-md-6">
        <h2>Registér</h2>
        <p>If you are an employee at a business that uses our services, you can register your vehicle here. Have your licenseplate number and company parking code ready.</p>
        <p><a class="btn btn-block btn-primary" @Html.ActionLink(">", "Index", "Create", new { area = "" }, null)</a></p>
    </div>
    <div class="col-md-6">
        <h2>Update</h2>
        <p>If you need to update some information on an already existing registration, you can do that here. If the change is a new licenseplate number, you will need to create a new registration.</p>
        <p><a class="btn btn-block btn-primary" @Html.ActionLink(">", "Index", "Update", new { area = "" }, null)</a></p>
    </div>
</div>