
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 class="display-4">Update</h1>
</div>
<br><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @{ Html.BeginForm("Result", "UpdateController"); }
            <div class="form-group">
                <label for="licenseNumber">Licenseplate number</label>
                <input type="text" class="form-control" name="licenseNumber" id="licenseNumber" placeholder="XX12345" required minlength="7" maxlength="7" />
            </div>
            <div class="form-group">
                <label for="companyParkingCode">Company parking code</label>
                <input type="text" class="form-control" name="companyParkingCode" placeholder="A1B2C" required minlength="5" maxlength="5">
            </div>
            <div class="form-group">
                <input type="submit" class="btn-lg btn-primary btn-block" value="Update">
            </div>
        @{ Html.EndForm(); }
    </div>
</div>
<div class="col-md-4"></div>

